<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar"></div>

<div class="formcontent">
    <h1>Add Author</h1>

    <form action="/saveAuthor">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name">

        <label for="dob">Date of Birth:</label>
        <input id="dob" type="date" name="dob">

        <input type="submit">
    </form>
</div>
</body>
</html>