<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Authors</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar"></div>

<div align="center" v>
    <h1>Manage Authors</h1>

    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>Author ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authorList}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.name}"></td>
            <td th:text="${author.dob}"></td>
            <td>
                <a th:href="@{'/editAuthor/' + ${author.id}}">Update</a>
                <a th:href="@{'/deleteAuthor/' + ${author.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="addAuthor">Add Author</a>
</div>
</body>
</html>