<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js.js}"></script>

</head>
<body style="font-family:verdana">

<div th:insert="navbar"></div>

<div class="formcontent">

    <h1>Add Patron</h1>

    <form action="/savePatron" modelAttribute="patron">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Name" required="required">

        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Email address" required="required">

        <label for="memberSince">Member Since:</label>
        <input id="memberSince" type="date" name="memberSince">

        <label for="membershipEnds">Membership Expires:</label>
        <input id="membershipEnds" type="date" name="membershipExpires">

        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password" required="required">

        <!--        <label for="confirmPassword">Confirm Password:</label>-->
        <!--        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Password" required="required">-->

        <label for="patron">Patron Type:</label>
        <select id="patron" name="patronType" required="required">
            <option value="PATRON">PATRON</option>
            <option value="ADMIN">ADMIN</option>
            <option value="LIBRARIAN">LIBRARIAN</option>
        </select>

        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>