<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Patron</title>
</head>
<body>

<div align="center"><br>
    <h1>Edit Patron</h1>

    <a href="/">Home</a><br><br>

    <form action="/updatePatron" modelAttribute = "newPatron">

        <label for="id">ID:</label><br>
        <input readonly id="id" type="text"name="id" th:value="${patron.id}"><br><br>

        <label for="name">Name:</label><br>
        <input id="name" type="text"name="name" th:value="${patron.name}"><br><br>

        <label for="email">Email:</label><br>
        <input id="email" type="email" name="email" th:value="${patron.email}"><br><br>

        <label for="memberSince">Member Since:</label><br>
        <input id="memberSince" type="date" name="memberSince" th:value="${patron.memberSince}"><br><br>

        <label for="membershipEnds">Membership Expires:</label><br>
        <input id="membershipEnds" type="date"  name="membershipExpires" th:value="${patron.membershipExpires}"><br><br>

        <label for="patron"></label>Patron Type:<br>
        <select id="patron" name="patronType">
            <option value="PATRON">PATRON</option>
            <option value="ADMIN">ADMIN</option>
            <option value="LIBRARIAN">LIBRARIAN</option>
        </select><br><br>

        <input type="submit" value="Update">
    </form>
</div>

</body>
</html>