<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Patron</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<div th:insert="navbar"></div>

<div class="formcontent">
    <h1>Edit Patron</h1>

    <form action="/updatePatron" modelAttribute="newPatron">

        <label for="id">ID:</label>
        <input readonly id="id" type="text" name="id" th:value="${patron.id}">

        <label for="name">Name:</label>
        <input id="name" type="text" name="name" th:value="${patron.name}">

        <label for="email">Email:</label>
        <input id="email" type="email" name="email" th:value="${patron.email}">

        <label for="memberSince">Member Since:</label>
        <input id="memberSince" type="date" name="memberSince" th:value="${patron.memberSince}">

        <label for="membershipEnds">Membership Expires:</label>
        <input id="membershipEnds" type="date" name="membershipExpires" th:value="${patron.membershipExpires}">

        <label for="patron">Patron Type:</label>
        <select id="patron" name="patronType">
            <option value="PATRON">PATRON</option>
            <option value="ADMIN">ADMIN</option>
            <option value="LIBRARIAN">LIBRARIAN</option>
        </select>

        <input type="submit" value="Update">
    </form>
</div>

</body>
</html>