<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Patrons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div align="center">
    <h1>Manage Patrons</h1>

    <a href="/">Home</a><br>

    <table border="1" cellpadding="5"><br>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Member Since</th>
                <th>Membership Expires</th>
                <th>Patron Type</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="patron : ${patrons}">
                <td th:text="${patron.id}"></td>
                <td th:text="${patron.name}"></td>
                <td th:text="${patron.email}"></td>
                <td th:text="${patron.memberSince}"></td>
                <td th:text="${patron.membershipExpires}"></td>
                <td th:text="${patron.patronType}"></td>
                <td>
                    <a th:href="@{'/editPatron/' + ${patron.id}}" >Update</a>
                    <a th:href="@{'/deletePatron/' + ${patron.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table><br>
    <a href="addPatron">Add Patron</a>
</div>
</body>
</html>