<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body style="font-family:verdana">

<div th:insert="navbar"></div>

<div align="center">

    <h1 align="center">Library Management System</h1>

    <div class="userwelcome" sec:authorize="hasRole('PATRON')">
        <h1 align="center">Patron Services</h1>
        <a>Welcome:</a>
        <a sec:authentication="name"></a><br><br>
    </div>

    <div class="userwelcome" sec:authorize="hasRole('LIBRARIAN')">
        <h1 align="center">Librarian Services</h1>
        <a>Welcome:</a>
        <a sec:authentication="name"></a><br><br>
    </div>

    <div class="userwelcome" sec:authorize="hasRole('ADMIN')">
        <h1 align="center">Admin Services</h1>
        <a>Welcome:</a>
        <a sec:authentication="name"></a><br><br>
    </div>

</div>

</body>
</html>