<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

    <div sec:authorize="hasRole('PATRON')">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookSearch">Book Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patronBookLoans">My Book Loans</a>
                </li>
            </ul>
        </div>
    </div>

    <div sec:authorize="hasRole('LIBRARIAN')">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managePatrons">Manage Patrons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookLoans">Manage Book Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookSearch">Book Search</a>
                </li>
            </ul>
        </div>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managePatrons">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookSearch">Manage Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manageAuthors">Manage Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managePublishers">Manage Publishers</a>
                </li>
            </ul>
        </div>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
        </ul>
    </div>

    <div sec:authorize="isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" sec:authentication="name"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>