<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<div th:insert="navbar"></div>

<div class="formcontent">
    <h1>Add Book</h1>

    <form action="/saveBook">
        <label for="title">Title:</label>
        <input id="title" type="text" name="name">

        <label for="price">Price:</label>
        <input id="price" type="text" name="price">

        <label for="pages">Pages:</label>
        <input id="pages" type="text" name="pages">

        <label for="copies">Copies:</label>
        <input id="copies" type="text" name="copies">

        <label for="available">Available:</label>
        <input id="available" type="text" name="available">

        <label for="author">Author Name:</label>
        <select id="author" type="text" name="author">
            <option th:each="author : ${authorList}" th:value="${author.getId()}"
                    th:text="${author.getName()}"></option>
        </select>

        <label for="publisher">Publisher Name:</label>
        <select id="publisher" type="text" name="publisher">
            <option th:each="publisher : ${publisherList}" th:value="${publisher.getId()}"
                    th:text="${publisher.getName()}"></option>
        </select>

        <input type="submit">
    </form>
</div>

</body>
</html>