<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body style="font-family:verdana">

<div th:insert="navbar"></div>

<div class="formcontent">
    <h1>Loan Book</h1>

    <form action="/loanBook" modelAttribute="bookLoan">

        <label for="patronID">Patron Name:</label>
        <select id="patronID" type="text" name="patron">
            <option th:each="patron : ${patronList}" th:value="${patron.getId()}"
                    th:text="${patron.getName()}"></option>
        </select>

        <label for="bookID">Book ID:</label>
        <input readonly id="bookID" type="text" name="book" th:value="${book.id}">

        <input type="submit" value="Loan">
    </form>
</div>
</body>
</html>