<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="font-family:verdana">

<div align="center">
    <h1>Loan Book</h1>

    <a href="/">Home</a><br><br>

    <form action="/loanBook" modelAttribute = "bookLoan">

        <label for="patronID">Patron Name:</label><br>
        <select id="patronID" type="text"name="patron"><br><br>
            <option th:each="patron : ${patronList}" th:value="${patron.getId()}" th:text="${patron.getName()}"></option>
        </select><br><br>

        <label for="bookID">Book ID:</label><br>
        <input readonly id="bookID" type="text" name="book" th:value="${book.id}"><br><br>

        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>