<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<div th:insert="navbar"></div>

<div class="formcontent">
    <h1>Add Publisher</h1>

    <form action="/savePublisher">
        <label for="hq">Headquarters:</label>
        <input id="hq" type="text" name="headquarters">

        <label for="name">Name:</label>
        <input id="name" type="text" name="name">

        <label for="yearFounded">Year Founded:</label>
        <input id="yearFounded" type="number" name="yearFounded">

        <input type="submit">
    </form>
</div>

</body>
</html>