<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Publishers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<div th:insert="navbar"></div>

<div align="center">
    <h1>Manage Publishers</h1>

    <table>
        <thead>
        <tr>
            <th>Publisher ID</th>
            <th>Name</th>
            <th>Headquarters</th>
            <th>Year Founded</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="publisher : ${publisherList}">
            <td th:text="${publisher.id}"></td>
            <td th:text="${publisher.name}"></td>
            <td th:text="${publisher.headquarters}"></td>
            <td th:text="${publisher.yearFounded}"></td>
            <td>
                <a th:href="@{'/editPublisher/' + ${publisher.id}}">Update</a>
                <a th:href="@{'/deletePublisher/' + ${publisher.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="addPublisher">Add Publisher</a>
</div>
</body>
</html>